define([
    'component!mesh:request',
    'component!mesh:fields',
    'component!mesh:model',
    'component!mesh:collection'
], function(Request, fields, model, collection) {
    return model.Model.extend(%s);
});
