define([
    'mesh/request',
    'mesh/fields',
    'mesh/model',
    'mesh/collection'
], function(Request, fields, model, collection) {
    var preloadedRaw, resource = model.Model.extend(%s);

    if (model.preloaded) {
        preloadedRaw = model.preloaded[resource.prototype.__bundle__];
        if (preloadedRaw) {
            resource.preloaded = resource.collection();
            for (var i = 0; i < preloadedRaw.length; i++) {
                resource.preloaded.add(resource.models.instantiate(preloadedRaw[i]));
            }
        }
    }

    return resource;
});
